/* Common */
:root{
    --bg-header:#255ee9;
    --text-light: #ffffff;
    --bg_light:#f6f6f6;
    --text-dark:#23272A;
    --button:#8EA1E1;
    --text_footer:#7289DA;

}

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a{
    display: inline-block;
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.m_left{
    margin-left: 10%;
}

.m_right{
    margin-right: 10%;
}

.button{
    padding: 14px 28px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.container{
    width: 1800px;
    margin: 0 auto;
}

.img{
    width: 100%;
    height: 100%;
}

.img_sm{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 38px;
    margin-right: 20px;
}

.img_sm > img{
    width: 100%;
    height: 100%;
}

.text_container{
    width: 100%;
    height: 100%;
}

.wave{
    background-image: url(../img/wave.svg);
    filter: opacity(0.035);
    height: 300px;
    margin-top: 125px;
}

.inverter{
    transform: rotate(180deg);
    margin: 0;
}

.bg_light{
    background-color: var(--bg_light);
}

.bg_dark{
    background-color: var(--text-dark);
    padding-bottom: 100px;
}

.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    width: 950px;
    padding: 65px;
    margin: 0 auto;
    background-position: unset;
    background-size: contain;
}

.footer{
    height: 100px;
    border-top: 1px solid var(--text_footer);
}

/* Header */
#site_header{
    background-color: var(--bg-header);
}

.jumbo{
    background-image: url(../img/jumbo.png);
    height: 815px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.navbar{
    height: 100px;
}

.logo{
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}


.menu > a{
    color: white;
    margin: 0px 35px;
}

.log_in{
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

.log_in > a{
    color: var(--text-dark);
     background-color: #ffffff;
}

/* jumbo */

.head_text{
    width: 1000px;
    text-align: center;
    
}

.head_text > h1{
    font-size: 66px;
    margin-bottom: 65px;
    color: var(--text-light);

}

.head_text > p{
    color: var(--text-light);
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 1px;
}

.head_text > a{
    margin: 47px 15px;
    font-size: 20px;
}
.download{
    background-color: var(--text-light);
    color: var(--text-dark);
}

.open{
    background-color: var(--text-dark);
    color: var(--text-light);
    padding: 16px 20px;
}

/* main */

.col_img,
.col_text{
    height: 800px;
    margin-top: 100px;
    margin-bottom: 100px; 
}

.col_img{
    width: 60%;
    float: left;
}

.col_text{
    width: 30%;
    float: left;
    padding-top: 110px;
}

.col_text > h1{
    font-size: 74px;
    color: var(--text-dark);
    margin-bottom: 50px;
}

.col_text >p {
    font-size: 34px;
    color: var(--text-dark);
}

.last_section{
    text-align: center;
    padding-bottom: 200px
    
}

.last_section > h1{
    font-size: 74px;
    color: var(--text-dark);
    padding-top: 100px;
    
}

.last_section > p{
    font-size: 34px;
    color: var(--text-dark);
    margin-top: 50px;
    margin-bottom: 100px;

}

.stars > span{
    display: inline-block;
    font-size: 45px;
    color: var(--text-dark);
}

.violet_download{
    background-color: var(--button);
    color:var(--text-light);
    font-size: 25px;
}


/* Footer */

.col_lg,
.col_sm{
    height: 800px;
    padding-top: 100px;
}

.col_lg{
    width: 28%;
    float: left;

}

.col_sm{
    width: 18%;
    float: left;
}

.col_lg >h1{
    font-size: 50px;
    color: var(--text_footer);
    margin-bottom: 50px;
    
}

.col_lg>span{
    color: var(--text-light);
    padding: 0 10px;
}

.img_ita{
    width: 50px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.img_ita>img{
    width: 100%;
    height: 100%;
}

.col_sm > a{
    display: block;
    color: var(--text-light);
    line-height: 50px;
    font-size: 20px;
}

.col_sm > a:first-child{
    color: var(--text_footer);
    line-height: 50px;
    font-size: 20px;
}

.logo_footer{
    width: 170px;
    top: 45%;
    left: 0;
}

.footer>a{
    top: 45%;
    right:0;
    background-color: var(--button);
    color: var(--text-light);
}

